Repository wp-cli/search-replace-command, pull requests merged in 2019-04, with the labels that each got.

#110 Move PHP 5.4 tests from `WP_VERSION` `latest` to `5.1`
  .travis.yml
Labels: scope:distribution

#111 PHPCS: fix up the code base [8] - rename a local variable
  src/Search_Replace_Command.php
Labels: command:search-replace

#112 PHPCS: fix up the code base [9] - one property per statement
  src/WP_CLI/SearchReplacer.php
Labels: command:search-replace

#113 Prefix variables in global namespace
  search-replace-command.php
Labels: command:search-replace

#116 Remove unneeded condition
  src/Search_Replace_Command.php
Labels: command:search-replace

#117 Rename private `_run` method to `run_recursively`
  src/WP_CLI/SearchReplacer.php
Labels: command:search-replace

#115 Verify and whitelist SQL escaping
  src/Search_Replace_Command.php
Labels: command:search-replace

#118 Enhancement: Add PHP 7.3 to Travis CI build matrix
  .travis.yml
Labels: scope:testing

#119 Implement CS checking based on the WPCliCS ruleset
  .distignore
  .gitignore
  composer.json
  phpcs.xml.dist
  src/Search_Replace_Command.php
  src/WP_CLI/SearchReplacer.php
Labels: scope:testing

#121 Update README.md file
  README.md
Labels: scope:documentation
